<form [formGroup]="anexoForm" (ngSubmit)="onSubmit()">
  <div class="centralizeApp">
    <div class="body">
      <!-- TITULO -->
      <span class="header">Cadastro de Editais</span>

      <!-- GRUPO DE FORMULARIO -->
      <div class="infos">
        <!-- VALIDAÇÃO E CAMPO TITULO -->
        <input type="text" placeholder="Titulo" formControlName="titulo" />
        <div *ngIf="invalidField('titulo')">
          <div *ngIf="anexoForm.controls['titulo'].errors?.['required']">
            <span>Campo obrigatorio</span>
          </div>
          <div *ngIf="anexoForm.controls['titulo'].errors?.['titulo']">
            <span>Titulo inválido</span>
          </div>
        </div>

        <!-- VALIDAÇÃO E CAMPO DESCREVA AQUI O EDITAL -->
        <textarea
          placeholder="Descreva aqui o edital"
          formControlName="descreva"
        ></textarea>
        <div *ngIf="invalidField('titulo')">
          <div *ngIf="anexoForm.controls['descreva'].errors?.['required']">
            <span>Campo obrigatorio</span>
          </div>
          <div *ngIf="anexoForm.controls['descreva'].errors?.['descreva']">
            <span>Titulo inválido</span>
          </div>
        </div>

        <!-- VALIDAÇÃO E E CAMPO EMAIL -->
        <input
          type="email"
          placeholder="E-mail para contato"
          formControlName="email"
        />
        <div *ngIf="invalidField('email')">
          <div *ngIf="anexoForm.controls['email'].errors?.['required']">
            <span>Campo obrigatorio</span>
          </div>
          <div *ngIf="anexoForm.controls['email'].errors?.['email']">
            <span>Titulo inválido</span>
          </div>
        </div>
      </div>

      <!-- GRUPO DO ARRAY -->
      <div formArrayName="anexos">
        <div *ngFor="let anexo of anexos.controls; let i = index">
          <div [formGroupName]="i" class="arrayContent">
            <input
              class="nameBt"
              type="text"
              placeholder="Nome do botão"
              formControlName="nameBt"
            />

            <div class="radios">
              <input
                class="radio"
                type="radio"
                name="{{ radio }}"
                value="ARQUIVO"
                formControlName="radio"
              />
              <span>ARQUIVO</span>
              <input
                class="radio"
                type="radio"
                name="{{ radio }}"
                value="LINK"
                (click)="clearFile(i)"
                formControlName="radio"
              />
              <span>LINK</span>
            </div>

            <div class="newDoc" *ngIf="show(i) == 'ARQUIVO'">
              <label class="inputFile" [for]="'file' + i">
                <img src="./assets/link.svg" alt="link anexo" />
                <span>ADICIONAR ARQUIVO</span>
              </label>
              <input
                (input)="upload($event, i)"
                type="file"
                [id]="'file' + i"
                class="form-control"
              />
              <span *ngIf="!anexoGroup(i)"
                >Nenhum arquivo selecionado ...</span
              >
              <span *ngIf="anexoGroup(i)"> {{ anexoGroup(i) }} </span>
            </div>
            <input
              *ngIf="show(i) == 'LINK'"
              class="link"
              type="text"
              placeholder="Insira aqui o link"
              formControlName="link"
            />
          </div>
        </div>
      </div>

      <!-- FLUXO DE CONTROLE DO ARRAY E GERADOR DO BOTÃO DE ANEXO DE RESULTADOS -->
      <div class="flowAnexos">
        <div class="controlsArray">
          <span class="newAnexo" (click)="addAnexo()">+ Adicionar anexo</span>
          <span
            *ngIf="this.anexos.length >= 1"
            class="rmAnexo"
            (click)="rmAnexo()"
            >(D) Excluir anexo</span
          >
        </div>
        <div class="resultsFile">
          <div class="addResults">
            <input
              [(ngModel)]="checkbox"
              (input)="clearPdf()"
              id="resultados"
              type="checkbox"
              formControlName="resultados"
            />
            <span>Adicionar resultado</span>
          </div>
          <div class="fileResultados" *ngIf="checkbox == true">
            <label for="filePdf">ANEXE AQUI O PDF DE RESULTADOS</label>
            <input
              class="inputFile"
              (change)="uploadPdf($event)"
              id="filePdf"
              type="file"
              formControlName="filePdf"
            />
            <span *ngIf="!filePdf"> Nenhum arquivo selecionado </span>
            <span *ngIf="filePdf"> {{ filePdf }} </span>
          </div>
        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <button [disabled]="anexoForm.invalid" type="submit">CADASTRAR</button>
    </div>
  </div>

  <p>
    {{ this.anexoForm.value | json }}
  </p>
</form>
